<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.highcapable.sense">

    <application>

        <activity
            android:name="com.highcapable.sense.SenseActivity"
            android:exported="false" />
    </application>
</manifest>